<h1><%= @subject.name -%></h1>
<ul>
<% @subject.books.each do |c| %>
    <%= link_to c.title, :controller => "books", :action => "show",:id => c.id -%><br></br>

<b> <%= link_to 'Edit', {:controller => "books", :action => "edit",:id => c.id} %></b>

<b> <%= link_to "Delete", {:controller => "books", :action => 'delete', :id => c.id},:confirm => "Are you sure you want to delete this item?" %></b>
<br></br>


<% end %>
</ul>